fastapi
uvicorn
jinja2
python-multipart

pandas
numpy

scikit-learn

tensorflow

nltk
spacy

matplotlib
seaborn
plotly

lime
shap

joblib

chartjs

google-api-python-client
google-auth
google-auth-oauthlib

python-dotenv

imbalanced-learn

tqdm